@use 'base/mixins' as m;
@use 'base/variables' as v;

.cita{

    background-image: url(../img/bg_citas.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: v.$blanco;
    padding: 5rem 0;

    &__heading{
        @include m.heading;
        font-size: 6rem;
    }

    &__texto{
        max-width: 60rem;
        margin: 0 auto;
        line-height: 2;
    }

    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}